{
  "listen_host": "0.0.0.0",
  "listen_port": {{VA_MONITOR_PORT}},
  "cert_file":   "",
  "db_svc": {
    "host": "{{{VA_DBSVC_HOST}}}",
    "port": {{VA_DBSVC_PORT}},
    "agent_timeouts": {
      "response": 30,
      "deadline": 60
    }
  },
  "video_svc": {
    "host": "{{{VA_VIDEO_HOST}}}",
    "port": {{VA_VIDEO_PORT}},
    "id":   "{{CAM_ID}}"
  },
  "photo_svc": {
    "host": "{{{VA_PHOTOSVC_HOST}}}",
    "port": {{VA_PHOTOSVC_PORT}}
  }
}
