div(class="header-services list-group list-group-flush sticky-top")
  div(class="list-group-item border-top-0 px-4")
    div(class="row w-100")
      div(class="col-xl-1 col-3 col-sm-2")
        h6 ID сервиса
      div(class="col-xl-2 col-6 col-sm-4")
        h6 Имя сервиса
      div(class="col-xl-1 col-3 col-sm-2")
        h6 Статус
      div(class="col-xl-1 col-4 d-none d-sm-block")
        h6 Режим работы
      div(class="col-xl-1 d-none d-xl-block")
        h6 ID процесса
      div(class="col-xl-2 d-none d-xl-block")
        h6 Имя пользователя
      div(class="col-xl-1 d-none d-xl-block")
        h6 Время работы
      div(class="col-xl-1 d-none d-xl-block")
        h6 Число рестартов
      div(class="col-xl-1 d-none d-xl-block")
        h6 Память
      div(class="col-xl-1 d-none d-xl-block")
        h6 Процессор, %
