{
  "listen_host":   "0.0.0.0",
  "listen_port":   {{VA_PHOTOSVC_PORT}},
  "cert_file":     "",
  "ip_wlist":      "{{{VA_PHOTOSVC_IPWL}}}",
  "photodir":      "{{{VA_PHOTO_BASE_DIR}}}",
  "origdir":       "{{{VA_PHOTO_ORIG_DIR}}}",
  "archivedir":    "{{{VA_PHOTO_ARCHIVE_DIR}}}",
  "cache_max_age": 3
}
