{
  "listen_host":  "0.0.0.0",
  "listen_port":  {{VA_GALLERY_PORT}},
  "cert_file":    "",
  "user":         "{{VA_GALLERY_USER}}",
  "password":     "{{{VA_GALLERY_PWD}}}",
  "photodir":     "{{{VA_PHOTO_BASE_DIR}}}"
}
