{
  "listen_host":    "0.0.0.0",
  "listen_port":    {{VA_VISION_UI_PORT}},
  "cert_file":      "",
  "user":           "{{VA_VISION_UI_USER}}",
  "password":       "{{{VA_VISION_UI_PWD}}}",
  "base_url":       "{{{VISION_BASE_URL}}}",
  "oauth_token":    "{{{VISION_TOKEN}}}",
  "oauth_provider": "mcs",
  "agent_timeouts": {
    "response":     10,
    "deadline":     20
  },
  "body_limit":     4,
  "origdir":        "{{{VA_PHOTO_ORIG_DIR}}}"
}
