{
  "base_url":       "{{{VISION_BASE_URL}}}",
  "space":          "{{VISION_SPACE}}",
  "oauth_token":    "{{{VISION_TOKEN}}}",
  "oauth_provider": "mcs",
  "agent_timeouts": {
    "response":     10,
    "deadline":     20
  },
  "min_face_size":  75,
  "id_prefix":      "person"
}
