{
  "detect_module":  "{{VA_DETECT_MODULE}}",
  "process_module": "{{VA_PROCESS_MODULE}}",
  "action_module":  "{{VA_ACTION_MODULE}}",
  "opt_modules":    [{{{VA_OPT_MODULES}}}],
  "vstream": {
    "id":   "{{CAM_ID}}",
    "url":  "{{{VA_STREAM_URL}}}",
    "freq": {{VA_FREQ}}
  },
  "video_svc": {
    "host": "{{{VA_VIDEO_HOST}}}",
    "port": {{VA_VIDEO_PORT}}
  },
  "ffmpeg_options": "{{{FFMPEG_OPTIONS}}}"
}
