CREATE USER IF NOT EXISTS '{{VA_DB_USER}}'@'localhost' IDENTIFIED BY '{{VA_DB_PWD}}';
CREATE DATABASE IF NOT EXISTS staff CHARACTER SET utf8;
GRANT ALL PRIVILEGES ON staff.* TO '{{VA_DB_USER}}'@'localhost';
CREATE DATABASE IF NOT EXISTS stats CHARACTER SET utf8;
GRANT ALL PRIVILEGES ON stats.* TO '{{VA_DB_USER}}'@'localhost';
